{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static project.image %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
        <br>
        {% if project.gitlink != "N/A" %}
          <h5>Github:</h5>
          <p><a href="{{ project.gitlink }}">{{ project.title }}</a></p>
          <br>
        {% endif %}
        {% if project.website != "N/A" %}
          <h5>Website:</h5>
          <p><a href="{{ project.website }}">{{ project.website }}</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
